@use 'global';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    box-sizing: border-box;
    margin:0;
  }
  body {
    margin: 0;
    color: white;
    background: transparent;
    user-select: none;
    cursor: default;
    
  }
  
  /* Mixins */
@mixin blogEntryDiv($backgroundColor){
  font-family: global.$nav-item-style;
  border:1px solid black;
  border-radius: 15%;
  margin: 0px 15px;
  height: 150px;
  width: 200px;
  background-color: $backgroundColor;
}


  /* Extend/Inheritance */
  %comingSoonPageText {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    line-height: 1.00em;
  }

/*   */
.skills-r,.mywork-r,.blog-r{
  padding: 15% 0;
  height: 90vh;
  h1{
    @extend %comingSoonPageText;
  }
}





  /*  Main Styles */
main{
  background-color: #26262A;
}
/* Footer Styles*/
footer{
  height: 100px;
  width: 100%;
  div{
    height: 100%;
    background-color: global.$header-bg-color;
    a{
      margin-right: 30px;
    }
    .icon-3d {
      padding: 10px;
      -webkit-animation: icon3d 200ms 10;
      animation: icon3d 200ms 10;
      color: #fff;
      &:hover {
        -webkit-animation: icon3d 200ms infinite;
              animation: icon3d 200ms infinite;
      }
    }
  }
}
/*   Header Styles */
 header{
  h2{
    color:global.$title-span-color;
  }
  .header-container{
    display: block;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 0 120px;
    background-color: global.$header-bg-color;
  }
  nav{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    span{
      color:global.$title-span-color;
    }
  }
  ul{
    display: flex;
    li{
      list-style: none;
      font-family: global.$nav-item-style;
      
    }
  }
  .nav-item{
    color:global.$header-nav-item-t-color;
    text-decoration: none;
    margin-right: 10px;
  }
}



 /* About Page Styles  */

.about-r{
  padding: 15% 0;
  height: 100%;
  .entry-text{
    font-weight: bold;
    font-size: global.$about-entry-text-size;
    color: white;
  }
  span{
    color:global.$title-span-color;
    font-size: global.$about-entry-text-size;
  }
  .skills-text{
    color: global.$header-nav-item-t-color;
  }
  img{
    height: 300px;
    width: 300px;
  }
  .trails-main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .trails-text {
    position: relative;
    width: 100%;
    height: 80px;
    line-height: 80px;
    color: global.$title-span-color;
    font-size: 5em;
    font-weight: 800;
    text-transform: uppercase;
    will-change: transform, opacity;
    overflow: hidden;
    div{
      overflow: hidden;
    }
  }
  &_second-div{
    float: right;
  }
}




/* My Skills Styles */

/* My Works Styles */

/* My Blog Styles*/
.blog-r{
.guest-div{
  @include blogEntryDiv(global.$palevio);
}
.admin-div{
  @include blogEntryDiv(global.$header-bg-color);
}
}

/* My Login Styles*/

.login-form-cont{
  text-align: center;
  padding: 15px;
  height: 400px;
  width: 350px;
  input{
    width: 100%;
    margin-top: 15px;
    height: 35px;
      margin: 15px auto;
      border: none; /* <-- This thing here */
      border:solid 1px #ccc;
      border-radius: 15px;
      text-align: center;
  }
  input:focus {
    outline: none !important;
    border:1px solid black;
    box-shadow: 0 0 10px #719ECE;
}
h3{
  color: white;
}
button{
  background-color: #8585D6;
  border: none;
  padding: 5px 25px;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  margin-top: 15px;
  float: right;
}
  
}




@keyframes icon3d {
  0% {
    text-shadow: 5px 4px global.$palevio, -5px -6px global.$blueColor;
  }
  25% {
    text-shadow: -5px -6px global.$palevio, 5px 4px global.$blueColor;
  }
  50% {
    text-shadow: 5px -4px global.$palevio, -8px 4px global.$blueColor;
  }
  75% {
    text-shadow: -8px -4px global.$palevio, -5px -4px global.$blueColor;
  }
  100% {
    text-shadow: -5px 0 global.$palevio, 5px -4px global.$blueColor;
  }
}









@media (max-width:600px){
header{
  .header-container{
    
    padding: 0 10px;
    
  }
}
.about-r{
  .trails-main{
    justify-content: flex-start;
  }
  .trails-text{
    font-size: 3.5em;
  }
}

footer{
  i{
    width: 12px;
    height: 12px;
  }
}
}