@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
//Background Color Variables
$header-bg-color: #19181A;
$header-nav-item-t-color:gray;
$title-span-color:palevioletred;
$redColor: palevioletred;
$blueColor:rgba(33,150,243,1);


//Font Style Variables

$nav-item-style: 'Montserrat', sans-serif;

//Font Sizes Varibles

$about-entry-text-size: 30px;